<div class="container-fluid">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-auto">
            <img src="https://media.traveler.es/photos/61376f0bccdecaa3de67134f/4:3/w_1800,h_1350,c_limit/136789.jpg" alt="Logo bank" width="500" style="text-align: center;">
        </div>
        <div class="col-md-auto">
            <h1>¡Bienvenido a Bank Sophos!</h1>
            <p>Utiliza los botones superiores para navegar en la página</p>
        </div>
    </div>
    
</div>